/* [sass, scss, next.scss] */
@font-face {
  font-family: oswald;
  src: url('../assets/typeface/oswald.ttf'); }

@font-face {
  font-family: lusitana;
  src: url('../assets/typeface/lusitana.ttf'); }

/* line 1, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
.square, #logo_i, #logo_who, #logo_o {
  margin: 0 auto;
  display: inline-block;
  width: 53.33px;
  height: 53.33px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

/* line 14, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
.square:hover, #logo_i:hover, #logo_who:hover, #logo_o:hover, .square.active, .active#logo_i, .active#logo_who, .active#logo_o {
  background-color: #000000; }

/* line 19, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
#logo div {
  text-align: center; }
/* line 22, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
#logo ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  /* line 27, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
  #logo ul li {
    text-align: center;
    display: inline;
    padding: 0 13.33px 0 13.33px; }

/* line 35, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
#logo_i {
  background-color: #731605; }

/* line 40, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
#logo_who {
  background-color: #f4b955; }

/* line 45, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
#logo_o {
  background-color: #557ef4; }

/* line 50, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
.home {
  position: relative;
  top: 40%; }

/* line 55, /Users/watts/Dropbox/encapsulate_me/mixture/scss/_logo.scss */
.nav_header {
  background: #000000;
  position: relative;
  padding-top: 5px;
  box-shadow: 0 0 2px #2f343a; }

/* line 6, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
body {
  background: #f6f6f6;
  color: #2f343a;
  font-family: lusitana;
  padding: 0;
  margin: 0;
  font-weight: lighter;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

/* line 19, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
#logo_o {
  border-radius: 50%; }

/* line 23, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
#logo_o:hover {
  background-color: #f6f6f6; }

/* line 27, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
.next_nav_header {
  background: #f6f6f6;
  position: relative;
  padding-top: 5px; }

/* line 33, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
#next {
  background-color: #f6f6f6;
  background-position: center;
  background-repeat: no-repeat;
  height: 490px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  float: none; }
  /* line 45, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next a {
    text-decoration: none; }
  /* line 49, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next a:link {
    color: #f4b955; }
  /* line 53, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next a:visited {
    color: #f4b955; }
  /* line 58, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next .title {
    position: relative;
    padding: 10px 0px 0px 20px;
    color: #f4b955;
    font-family: oswald;
    font-size: 42px;
    font-weight: normal;
    text-shadow: 1px 1px 0px rgba(47, 52, 58, 0.2); }
  /* line 68, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next .body {
    position: relative;
    padding: 10px 10px 0px 20px;
    text-align: left;
    color: #eeeeee;
    font-size: 18px; }
  /* line 76, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next .tiny_logo {
    height: 20px;
    padding: 0px 0px 0px 2px; }
  /* line 81, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next .social_sig {
    position: relative;
    padding: 10px 0px 0px 20px;
    color: #f4b955;
    font-family: oswald;
    font-size: 24px;
    font-weight: normal;
    text-shadow: 1px 1px 0px rgba(47, 52, 58, 0.2); }
  /* line 91, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next .contact {
    display: block;
    padding: 20px;
    text-align: right; }
  /* line 97, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
  #next .social_square {
    height: 32px; }

/* line 102, /Users/watts/Dropbox/encapsulate_me/mixture/scss/next.scss */
.sig {
  text-align: right; }
