:root {
  --color-red: rgb(104,0,0);
  --color-yellow: rgb(255,189,79);
  --color-blue: rgb(12,110,197);
  --color-black: rgb(0,0,0);
  --color-grey: #888;
}

html, body {
  cursor: auto;
}
header {
  margin: 0rem 0rem 1rem 0rem;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#logo div {
  width: 1rem;
  height: 1rem;
  margin: 0px 5px;
}
#logo .i {
  background: var(--color-red);
  margin-left: 0rem;
}
#logo .w {
  background: var(--color-yellow);
  opacity: 0.97;
}
#logo .o {
  background: var(--color-blue);
}
nav {
  display: flex;
  justify-content: space-between;
}
nav > div > a {
  line-height: 1rem;
  vertical-align: bottom;
  margin: 0rem 0rem 0rem 0.5rem;
}
nav > div > a:hover {
  text-decoration: underline;
}
body {
  max-width: 528px;
  margin: auto;
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
  padding: 1rem;
}
h1 {
  font-family: 'Varela Round', sans-serif;
}
a {
  color: var(--color-grey);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.14rem;
  text-decoration-style: dotted;
}
a:hover {
  color: var(--color-black);
}
hr {
  border: 0px;
  border-top: 1px dashed var(--color-grey);
}
ul {
  padding: 0rem 1rem;
}
.strike {
  text-decoration: line-through
}
.done {
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
  font-size: 16px;
}
.context {
  padding: 0rem 1rem;
}
.publishedAt {
  font-family: monospace;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.quote {
  font-size: 16px;
  text-align: right;
}
.intro {
  line-height: 0.8rem;
}
