<!DOCTYPE html>
<html>
  <head>
    <title>encapsulate.me</title>
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="next.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="next">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
  </head>
  <body>
    <div id="main">
      <ul id="nav" class="nav">
        <a href="/i"><div id="get" class="red square"></div></a>
        <a href="/whois"><div id="perspective" class="yellow square"></div></a>
        <a href="/o"><div id="give" class="blue square"><div id="pulsar"></div></div></a>
      </ul>

      <div class="card">
        <a href="https://www.youtube.com/watch?v=8CrOL-ydFMI">today</a>
        <br/><br/>

        continues a story to help pay it forward<br/>
        i'm grateful for the <a href="https://listen.beatsmusic.com/users/139597810931597568">incredible people</a> of Beats Music and leave to work on something for <a href="https://www.youtube.com/watch?v=fojM2iaXgyc">us</a><br/>
        you can help; reach out:<br/><br/>

        <div id="mc_embed_signup">
          <form action="//selfless.us9.list-manage.com/subscribe/post?u=38ef0136911ddc5f03fcdb36f&amp;id=0e5299f967" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="mc-field-group">
	          <label for="mce-EMAIL">email </label>
	          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
	        <div id="mce-responses" class="clear">
		      <div class="response" id="mce-error-response" style="display:none"></div>
		      <div class="response" id="mce-success-response" style="display:none"></div>
	        </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_38ef0136911ddc5f03fcdb36f_0e5299f967" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
        </div>

        <div id="sig">
          -justin<br/>
          09.19.2014
        </div>
      </div>
    </div>
  </body>
</html>
